*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', 'sans serif';
}

html{
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

h1{
    font-size: 4em;
}
.column-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}

input{
    border-radius: 50px;
    width: 33vw;
    height: 80px;
}

.signup-button{
    background-color: blue;
    color: white;
    width: 12vw;
    height: 70px;
    border-radius: 50px;
    font-size: 1.5em;
}

.socials{
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}

.socials button{
    background: url(../CRM-Main/googleicon.jpg) no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50px;

}

.column-right{
    display: flex;
}

.imageframe{
    display: flex;
    margin-right: 50px;
    margin-top: 50px;
}
.column-right img{
    max-width: 100%;
    display: flex;
}

@media only screen and (max-width:768px) {
    .column-right{
        display: none;
    }

    body{
        display: flex;
    }
    
    .column-left{
        width: 100%;
    }
    .socials, input{
        width: 80%;
        height: 15vw;
    }
    .signup-button{
        width: 50vw;
        height: 10vw;
    }

}